<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Building Sub Group List
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<div layout:fragment="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Building Sub Group List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div th:if="${param.success}">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Success!</h4>
                            Information saved successfully.
                        </div>
                    </div>
                    <div th:if="${param.deleted}">
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Deleted!</h4>
                            Information deleted successfully.
                        </div>
                    </div>

                    <!--<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">-->
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example1_info">
                                    <thead class="thead">
                                    <tr>
                                        <th>Building Sub Group ID</th>
                                        <th>Building Sub Group</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="buildingSubGroup : ${listBuildingSubGroups}">
	                                        <td th:text="${buildingSubGroup.buildingSubGroupId}">Building Sub Group ID</td>
	                                        <td th:text="${buildingSubGroup.buildingGroup.display}">Building Group</td>
	                                        <td th:text="${buildingSubGroup.buildingSubGroupName}">Building Sub Group</td>
	                                        <td>
	                                        	<a href="#" class="btn btn-primary btn-xs purple editView" title="Add building type" th:href="@{'/building/addBuildingType/'+ ${buildingSubGroup.buildingSubGroupId}}"><i class="fa fa-edit"></i>Add building type</a>
	                                            <a href="#" class="btn btn-primary btn-xs purple editView" title="Edit" th:href="@{'/building/editBuildingSubGroup/' + ${buildingSubGroup.buildingSubGroupId}}"><i class="fa fa-edit"></i> Edit</a>
	                                            <a href="#" class="btn btn-danger btn-xs purple deleteView" title="Delete" th:href="@{'/building/deleteBuildingSubGroup/' + ${buildingSubGroup.buildingSubGroupId}}"><i class="fa fa-trash-o"></i> Delete</a>
	                                        </td>
	                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <!--</div>-->

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- <div class="box-footer center">
	    <a href="#" class="btn btn-primary btn-xs purple editView" title="Add Building Sub Group" th:href="@{/building/addBuildingGroup}"><i class="fa fa-plus"></i> Add Building Group</a>
	    <a href="#" class="btn btn-primary btn-xs purple editView" title="Add building sub group" th:href="@{/building/addBuildingSubGroup}"><i class="fa fa-plus"></i> Add building sub group</a>
	    <a href="#" class="btn btn-primary btn-xs purple editView" title="Add building type" th:href="@{/building/addBuildingType}"><i class="fa fa-plus"></i> Add building type</a>
	</div> -->
</div>


<th:block layout:fragment="script">
 <script>
      $(function () {

        $('#example1').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : false
        })

        jQuery('#example1_wrapper input').addClass("form-control input-sm"); // modify table search input
      })


</script>
</th:block>
</body>

</html>